

* { box-sizing: border-box; }
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0b0b;
  color: white;
  line-height: 1.6;
}

/* ===== MENU ===== */
.site-header {
  background: #000;
  border-bottom: 1px solid #111;
  position: sticky;
  top: 0;
}

.image{
  border-radius: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 15px;
}

.logo {
  color: lightgreen;
  font-weight: bold;
  text-decoration: none;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.nav-list a {
  text-decoration: none;
  color: #000;
  background: lightgreen;
  padding: 9px 17px;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.2s;
}

.nav-list a:hover {
  background: #00e673;
}


.hero {
  text-align: center;
  padding: 50px 15px;
  background: linear-gradient(180deg, #003300, #0b0b0b);
}

.section {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 15px;
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid img {
  width: 80%;
  border-radius: 3px;
}

.button {
  display: inline-block;
  background: lightgreen;
  color: #000;
  padding: 8px 14px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.button:hover {
  background: #00e673;
}

.contact a {
  color: lightgreen;
  text-decoration: none;
}

@media (max-width: 700px) {
  .two-col {
    grid-template-columns: 1fr;
  }
  .nav-list {
    flex-wrap: wrap;
    justify-content: center;
  }
}